
:root {
  --main-color: rgb(255, 8, 0);
  --main-hover-color: rgb(192, 5, 5);
}

/* darkmode */

body.dark-mode-body {
  background-color: #1a1a1a !important; 
  color: #ffffff !important; 
}

.dark-mode {
  background-color: #1a1a1a !important;
  color: #fff !important;
}

.dark-mode-hover:hover {
  background-color: #535353 !important;
  color: #fff !important;
}

.menu {
  background-color: #bebebe !important;
}

.dark-mode-button{
  width: 100%;
  background-color:var(--main-color) !important;
  border-color:var(--main-hover-color) !important;
  color: white !important;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}


.dark-mode-button:hover {
  background-color: #1a1a1a !important;
  color:var(--main-color) !important;
  border-color:var(--main-hover-color) !important;
}

.darkmode--mmcm--account {
  width: 100%;
  background-color: #1a1a1a !important;
  border-color: #cccccc;
  color:var(--main-color) !important;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.darkmode--mmcm--account:hover {
  background-color: #353535 !important;
}

/* end of darkmode */




::-webkit-scrollbar {
  width: 10px;
}


::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 

::-webkit-scrollbar-thumb {
  background: #888; 
}


::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* Login Page */
.logo-container {
  text-align: center;
}

.logo {
  width: 200px;
  height: auto;
  margin-bottom: 20px;
}

.logo-container h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.welcome-heading {
  text-align: center;
}

.welcome-heading h2 {
  font-weight: bold;
  color: #555;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
}


.welcome-heading h1 {
  font-weight: bold;
  color: #ff1717;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.welcome-heading h5 {
  background-color: #f84444;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 20px;
}


.orange-hover:focus,
.orange-hover:hover {
  border-color:var(--main-color) !important;
  box-shadow: 0 0 0 0.2rem rgba(255, 38, 0, 0.5) !important;
}

.login-card {
  width: 25rem;
  margin: auto;
}

.orange-button {
  width: 100%;
  background-color: var(--main-color);
  color: white;
  padding: 10px 15px;
  border: none; 
  border-radius: 5px;
  cursor: pointer;
}

.orange-button:hover {
  background-color: white;
  color: var(--main-color);
  border: 1px solid var(--main-hover-color);
}


.divider {
  border-top: 1px solid #ccc;
}

.google-icon {
  width: 20px; 
  height: auto;
  margin-right: 8px;
}

.mmcm--account {
  width: 100%;
  background-color: #fff;
  border: 1px solid #cccccc;
  color: var(--main-color);
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.mmcm--account:hover {
  background-color: #cccccc;
}


.password-toggle-label {
  display: flex;
  align-items: center;
  margin-top: 5px;
  cursor: pointer;
}

.password-toggle-checkbox {
  margin-right: 5px;
}

.password-toggle-checkbox:checked + .form-control {
  type: text;
}


/* End login page */

/* Navbar */
.navbar {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  z-index: 10 !important;
}

.logo-home {
  width: 100px;
  object-fit: contain !important;
  position: absolute;
  margin-top: -27px;
  margin-left: -10px;
}
.nav-link-with-icon {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.nav-link-icon {
  margin-right: 5px; 
  color: var(--main-color);
}

.me-auto .nav--link {
  color: black; 
}

.me-auto .nav--link.active {
  color: rgba(255, 38, 0, 0.5) !important;
  font-weight: bold;
  transition: color 0.3s ease;
}

.profile {
  background-color: var(--main-color) !important;
  color: white !important;
  padding: 0.5rem 1.5rem !important;
  border-radius: 5px;
  margin-right: 10px;
}

.profile:hover,
.profile:focus {
  border-color:var(--main-color) !important;
  box-shadow: 0 0 0 0.2rem rgba(255, 38, 0, 0.5) !important;
}

.profile .dropdown-toggle::after {
  display: none;
}

.profile .nav-link {
  color: white !important;
  background-color: var(--main-color) !important;
  color: white !important;
  padding: 0rem 1rem !important;
  border-radius: 5px;
  margin-right: 10px;
}

.profile .item-dropdown:focus,
.profile .item-dropdown:hover {
  background-color: var(--main-color) !important;
  color: white !important;
}


.sidebar {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100%;
  background-color: #fff;
  transition: right 0.3s ease;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.sidebar.show {
  right: 0;
}

.sidebar-header {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
}

.sidebar-header > svg {
  cursor: pointer;
}


.sidebar-content .nav--link {
  color: black; 
}

.sidebar-content .nav--link:hover {
  color: black; 
}

.sidebar-content .nav--link.active {
  color: rgba(255, 38, 0, 0.5) !important;
  font-weight: bold;
  transition: color 0.3s ease;
}

.profile--attribute:hover,
.profile--attribute:focus {
  color: #fff !important;
  background-color: var(--main-color) !important;
}

/* End navbar */

/* capstone search feature */

.search-icon {
  padding: 0.250rem 0.40rem;
  color: var(--main-color) !important;
}

.search-capstone:focus,
.search-capstone:hover {
  border-color: var(--main-color) !important;
  box-shadow: 0 0 0.2rem rgba(255, 38, 0, 0.5) !important;
}

.search-capstone.filled:focus,
.search-capstone.filled:hover {
  border-color: var(--main-color) !important;
  box-shadow: 0 0 0.2rem rgba(255, 38, 0, 0.5) !important;
}

.search-button {
  background-color: var(--main-color) !important;
  color: white !important;
}

.search-container {
  position: relative;
}

/* .container-search-history {
  position: absolute;
  top: 100%;
  left: 48.5%;
  transform: translateX(-50%); 
  max-width: 100%;
  width: 79%; 
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  z-index: 1000;
  margin-top: 5px;
} */

.search-capstone-input {
  width: 100%; 
  outline: none;
  border: none; 
  font-size: inherit;
}

.search-capstone-input:focus {
  width: 100%; 
  outline: none;
  border: none; 
  border-bottom: 1px solid #e4e4e4 !important; 
  font-size: inherit;
}



.search-history-dropdown {
  max-height: 200px;
  overflow-y: auto;
  padding: 5px;
  /* scrollbar-width: thin; */
}

.search-history-title {
  position: sticky;
  top: 0;
  padding: 10px;
  background-color: #fff; 
  z-index: 1;
}

.search-history-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  padding: 2px 15px;
}

.search-history-item:hover {
  background-color: #e4e4e4;
}

.search-history-icons {
  display: flex;
  align-items: center;
}

.history-icon,
.delete-icon {
  cursor: pointer;
  margin-right: 10px;
  color: #919191;
}

.query-text {
  flex-grow: 1;
}

.delete-icon:hover {
  color: red;
}

.search-history-dropdown::-webkit-scrollbar {
  width: 10px;
  display: none;
}

.search-history-dropdown::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.search-history-dropdown::-webkit-scrollbar-thumb {
  background: #ccc;
}

.search-history-dropdown::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}

/* end capstone search feature */


/* capstone details apge */

.pdf--button {
  border-color:var(--main-color) !important;
}

.pdf--button:focus, 
.pdf--button:hover {
  border-color:var(--main-color) !important;
  box-shadow: 0 0 0 0.2rem rgba(255, 38, 0, 0.5) !important;
}

/* end of capstone detail page */


/* upload capstone page */

.upload--input:focus, 
.upload--input:hover {
  border-color:var(--main-color) !important;
  box-shadow: 0 0 0 0.2rem rgba(255, 38, 0, 0.5) !important;
}


/* end of capstone upload page */


/* Faqs page */

.accordion-button.collapsed:focus,
.accordion-button.collapsed:hover {
  box-shadow: 0 0 0 0.2rem rgba(255, 38, 0, 0.5) !important;
}
.accordion-button.focused {
  color: red !important;
  background-color: #f8d7da !important;
  box-shadow: 0 0 0 0.2rem rgba(255, 38, 0, 0.5) !important;
}

.accordion-body.success {
  color: green;
  box-shadow: 0 0 0 0.2rem rgba(4, 192, 89, 0.5) !important;
}

/* end of faqs page */




/* dashbaord */

.form-list {
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.form-list:hover,
.form-list:focus {
  border-color:var(--main-color) !important;
  box-shadow: 0 0 0 0.2rem rgba(255, 38, 0, 0.5) !important;
}


.search-list:hover,
.search-list:focus {
  border-color:var(--main-color) !important;
  box-shadow: 0 0 0 0.2rem rgba(255, 38, 0, 0.5) !important;
}




/* end of dashboard */